.title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 400px;
    margin: 0 auto;
    color: white;
    border-bottom: solid white 2px;
}